@import 'colors';
@import 'globals';
@import 'icons';

.main {
  width: 100%;
  display: table-cell;
}

.menu {
  display: block;
  white-space: nowrap;
  background: @menuBg;
  position: relative;
  height: 100vh;

  &__header {
    display: block;
    padding: 22px 17px;
    padding-bottom: 7px;
  }

  &__footer {
    display: block;
    padding: 12px 20px;
  }

  &__navigation {

  }

  &__link {
    box-sizing: content-box;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 13px 13px 13px 25px;
    display: block;
    border-bottom: 1px solid @navigBorderColor;
    background: @navigColorNormal;
    position: relative;
    text-transform: capitalize;
    &_dark {
      background: @navigColorDark;
      color: @menuDarkText;
    }
    &:hover,
    &:active {
      background: @navigColorActive;
      border-color: @navigColorActive;
    }
  }
  &__message {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    background: #f44336;
    text-align: center;
    vertical-align: middle;
    float: right;
    line-height: 24px;
    font-size: 14px;
  }
}

.user {
  display: block;
  position: relative;
  padding-right: 20px;
  margin-bottom: 15px;
  &__img {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  &__name,
  &__surname {
    display: inline-block;
    font: 500 18px/1 "Roboto", sans-serif;
    color: #fff;
    vertical-align: middle;
  }
}

.ponches {
  white-space: normal;
  display: inline-block;
  &__item {
    display: inline-block;
    &_mul {
      margin-bottom: 9px;
    }
  }
  &__counter {
    display: inline-block;
  }
  &__link {
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    background: #bfbfbf;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px 8px;
    &_change {
      background: @ponchBgChangle;
    }

    &.favorite {
      background: @ponchBg;
    }
  }
}

.logo {
  margin-bottom: 12px;
  &__text {
    color: @menuFooterText;
    font-size: 16.6px;
    text-align: center;
    font-weight: 500;
    &:before {
      margin-top: -4px;
      margin-right: 8px;
    }
  }
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: @menuFooterText;
  font-weight: 500;
  p:not(:last-child) {
    margin-bottom: 7px;
  }
}

.filter {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.44);
  display: inline-block;
  border: 1px solid @filterBorder;
  &.active {
    .filter__items,
    .filter__controls {
      display: block;
    }
    .filter__h {
      display: inline-block;
    }
    .filter-icon-b:before {
      background-position: center right;
    }
    .arrow-icon {
      display: inline-block;
    }
  }
  &__head {
    color: @filterSubFont;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    position: relative;
    &:before {
      margin-top: -4px;
      margin-right: 8px;
    }
    &.active {
      .arrow-icon {
        transform: rotate(180deg);
      }
      .filter__sub-list {
        display: block;
      }
    }
    &.selected {
      &.filter-peoples-icon-b:before {
        background-position: 0 0;
      }
      &.filter-meetings-icon-b:before {
        background-position: 0 -48px;
      }
      &.filter-events-icon-b:before {
        background-position: 0 -24px;
      }
    }
  }
  &__h {
    text-transform: uppercase;
    font-size: 16px;
    color: @ponchBg;
    display: none;
    margin-left: 11px;
  }
  &__sub-list {
    display: none;
    background: @filterSubBg;
    padding: 15px;
    color: @filterSubFont;
    border-top: 1px solid @filterBorder;
    border-bottom: 1px solid @filterBorder;
  }
  &__row {
    font-size: 14px;
    font-weight: 500;
    &:not(:last-child)
      {
        margin-bottom: 10px;
      }
  }
  &__row_h {
    text-transform: uppercase;
  }


  &__controls {
    padding: 4px;
    display: none;
    text-align: center;
  }

  &__items {
    display: none;
    padding: 6px 0;
    border-top: 1px solid @filterBorder;
    border-bottom: 1px solid @filterBorder;
  }

  &__submit {
    color: @ponchBg;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 7px 16px;
    border-left: 1px solid @filterBorder;
    display: inline-block;
    cursor: pointer;
  }

  &__clear {
    padding: 7px 12px;
    display: inline-block;
    cursor: pointer;
  }

  &__item {
    &.active {
      .filter__sub-list {
        display: block;

      }
    }
  }
}

.radio {
  appearance: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../img/radio-sprite.png) center 0 no-repeat;
  vertical-align: middle;
  margin: 0;
  margin-top: 1px;
  outline: none;

  &:checked {
    background: url(../img/radio-sprite.png) center -23px no-repeat;
  }

}

.input {
  appearance: none;
  outline: none;
  border: 1px solid @filterSubFont;
  padding: 6px 8px;
  border-radius: 2px;
  width: 32px;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  color: @filterSubInput;
  &:focus {
    border-color: @ponchBg;
  }
}

.map {
  position: relative;
  display: block;
}

.map-controls {
  position: absolute;
  top: 0;
  left: 0;

}

.resize {
  background: #fff;
  padding: 0 5px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.44);
  display: inline-block;
  border-radius: 2px;
  &__item {
    padding: 9px 5px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
  }
}

.card {
  display: table;
  box-shadow: 1px 0 5px rgba(0,0,0,.4);
  border-radius: 3px;
  &__prev-button {
    display: table-cell;
    width: 48px;
    height: 100%;
    background: url("../img/arrow-left.png") center center no-repeat #f6f6f6;
    cursor: pointer;
    &:hover {
      background-color: rgba(246,246,246, 0.5);
    }
  }
  &__next-button {
    display: table-cell;
    width: 48px;
    height: 100%;
    background: url("../img/arrow-right.png") center center no-repeat #f6f6f6;
    cursor: pointer;
    &:hover {
      background-color: rgba(246,246,246, 0.5);
    }
  }
  &__content {
    background: #fff;
    display: table-cell;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 3px;
    position: relative;
  }

  &__header {
    background: @filterSubBg;
    color: @userCardNormalText;
    font-size: 14px;
    padding: 10px 14px;
    font-weight: 500;
    border-bottom: 1px solid @userCardBorder;
    &.favorite {
      background: @ponchBg;
      color: #fff;
      .card__close-button {
        background-position: 0 -18px;
      }
      .card__event-date:before {
        background-position: 0 -20px;
      }

      .card__place:before {
        background-position: 0 -19px;
      }
    }
  }

  &__place,
  &__event-date,
  &__close-button {
    display: inline-block;
    margin-right: 10px;
  }
  &__close-button {
    margin-right: -4px;
  }

  &__counter {
    padding: 0 10px 10px 10px;
    margin-top: -10px;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    color: #bfbfbf;
  }
  &__preview {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 16px;
    &-status {
      width: 10px;
      height: 10px;
      border: 3px solid #fff;
      border-radius: 50%;
      background: @ponchBg;
      display: block;
      position: absolute;
      right: -4px;
      bottom: 4px;
    }
  }

  &__img {
    width: 100%;
    border-radius: 50%;
  }

  &__main {
    display: inline-block;
    vertical-align: middle;
    margin-top: 13px;
  }

  &__event-type {
    color: @ponchBg;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__members-count {
    font-size: 12px;
    color: #bfbfbf;
    display: inline-block;
  }

  &__event-name {
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0;
    text-transform: capitalize;
    color: #222622;
  }

  &__message {
    font-size: 14px;
    color: @ponchBg;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__distance {
    font-size: 14px;
    font-weight: 500;
    color: @ponchBg;
    margin-left: 25px;
    margin-right: 10px;
  }

}