@import 'colors';
@import 'globals';
@import 'icons';

.main {
  width: 100%;
  display: table-cell;
}

.menu {
  display: block;
  white-space: nowrap;
  background: @menuBg;
  position: relative;
  height: 100vh;

  &__header {
    display: block;
    padding: 22px 17px;
    padding-bottom: 7px;
  }

  &__footer {
    display: block;
    padding: 12px 20px;
  }

  &__navigation {

  }

  &__link {
    box-sizing: content-box;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 13px 13px 13px 25px;
    display: block;
    border-bottom: 1px solid @navigBorderColor;
    background: @navigColorNormal;
    position: relative;
    text-transform: capitalize;
    &_dark {
      background: @navigColorDark;
      color: @menuDarkText;
    }
    &:hover,
    &:active {
      background: @navigColorActive;
      border-color: @navigColorActive;
    }
  }
  &__message {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    background: #f44336;
    text-align: center;
    vertical-align: middle;
    float: right;
    line-height: 24px;
    font-size: 14px;
  }
}

.user {
  display: block;
  position: relative;
  padding-right: 20px;
  margin-bottom: 15px;
  &__img {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  &__name,
  &__surname {
    display: inline-block;
    font: 500 18px/1 "Roboto", sans-serif;
    color: #fff;
    vertical-align: middle;
  }
}

.ponches {
  white-space: normal;
  &__item {
    display: inline-block;
  }
  &__link {
    display: block;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    background: @ponchBg;
    font-size: 12px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 9px;
    padding: 5px 8px;
    &_change {
      background: @ponchBgChangle;
    }
  }
}

.logo {
  margin-bottom: 12px;
  &__text {
    color: @menuFooterText;
    font-size: 16.6px;
    text-align: center;
    font-weight: 500;
    &:before {
      margin-top: -4px;
      margin-right: 8px;
    }
  }
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: @menuFooterText;
  font-weight: 500;
  p:not(:last-child) {
    margin-bottom: 7px;
  }
}

.filter {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4.8px 0.2px rgba(0, 0, 0, 0.4);
  display: inline-block;
  border: 1px solid @filterBorder;
  &.active {
    .filter__items,
    .filter__controls {
      display: block;
    }
    .filter__h {
      display: inline-block;
    }
    .filter-icon-b:before {
      background-position: center right;
    }
    .arrow-icon {
      display: inline-block;
    }
  }
  &__head {
    color: @filterSubFont;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    position: relative;
    &:before {
      margin-top: -4px;
      margin-right: 8px;
    }
    &.active {
      .arrow-icon {
        transform: rotate(180deg);
      }
      .filter__sub-list {
        display: block;
      }
    }
    &.selected {
      &.filter-peoples-icon-b:before {
        background-position: 0 0;
      }
      &.filter-meetings-icon-b:before {
        background-position: 0 -48px;
      }
      &.filter-events-icon-b:before {
        background-position: 0 -24px;
      }
    }
  }
  &__h {
    text-transform: uppercase;
    font-size: 16px;
    color: @ponchBg;
    display: none;
    margin-left: 11px;
  }
  &__sub-list {
    display: none;
    background: @filterSubBg;
    padding: 15px;
    color: @filterSubFont;
    border-top: 1px solid @filterBorder;
    border-bottom: 1px solid @filterBorder;
  }
  &__row {
    font-size: 14px;
    font-weight: 500;
    &:not(:last-child)
      {
        margin-bottom: 10px;
      }
  }
  &__row_h {
    text-transform: uppercase;
  }


  &__controls {
    padding: 4px;
    display: none;
    text-align: center;
  }

  &__items {
    display: none;
    padding: 6px 0;
    border-top: 1px solid @filterBorder;
    border-bottom: 1px solid @filterBorder;
  }

  &__submit {
    color: @ponchBg;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 7px 16px;
    border-left: 1px solid @filterBorder;
    display: inline-block;
    cursor: pointer;
  }

  &__clear {
    padding: 7px 12px;
    display: inline-block;
    cursor: pointer;
  }

  &__item {
    &.active {
      .filter__sub-list {
        display: block;

      }
    }
  }
}

.radio {
  appearance: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../img/radio-sprite.png) center 0 no-repeat;
  vertical-align: middle;
  margin: 0;
  margin-top: 1px;
  outline: none;

  &:checked {
    background: url(../img/radio-sprite.png) center -23px no-repeat;
  }

}

.input {
  appearance: none;
  outline: none;
  border: 1px solid @filterSubFont;
  padding: 6px 8px;
  border-radius: 2px;
  width: 32px;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  color: @filterSubInput;
  &:focus {
    border-color: @ponchBg;
  }
}

.map {
  position: relative;
  display: block;
}

.map-controls {
  position: absolute;
  top: 0;
  left: 0;
}
