.cf:after,.cf:before {content: '';display: table;}
.cf:after {clear: both;}
.cf {zoom: 1;}


.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}
body {
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  display: block;
  font-family: "Roboto", sans-serif;
}

#map {
  height: 100vh;
}

.ngsb-wrap .ngsb-scrollbar {
  right: -4px;
}

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: none;
}

.empty-list-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  transform: translate(-50%, -50%);
}