.cf:after,.cf:before {content: '';display: table;}
.cf:after {clear: both;}
.cf {zoom: 1;}


.fl-l {
  float: left;
}

.fl-r {
  float: right;
}
body {
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  display: block;
  font-family: "Roboto", sans-serif;
}

#map {
  height: 100vh;
}

.ngsb-wrap .ngsb-scrollbar {
  right: -4px;
}

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: none;
}