
.ponch__link_icon-b {
  &:before {
    content: '';
    background: url(../img/ponch-icon.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
}

.ponch__link_change-b {
  &:before {
    content: '';
    background: url(../img/ponch-edit.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
}

.logout-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/exit-icon.png);
  position: absolute;
  right: 0;
  top: 12px;
}

.logo_icon-b,
.logo-icon-white-b{
  &:before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/logo-icon-dark.png);
  }
}

.logo-icon-white-b:before {
  background: url("../img/logo-white-icon.png");
  background-size: cover;
  margin-right: 5px;
}

//menu icons

.menu__link:before {
  content: '';
  width: 22px;
  height: 24px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/menu-icons-sprite.png) no-repeat;
}

.menu__link_map-icon:before {
  background-position: center 0;
}

.menu__link_news-icon:before {
  background-position: center -25px;
}

.menu__link_mess-icon:before {
  background-position: center -49px;
}

.menu__link_people-icon:before {
  background-position: center -73px;
}

.menu__link_meet-icon:before {
  background-position: center -96px;
}

.menu__link_event-icon:before {
  background-position: center -121px;
}

.menu__link_cab-icon:before {
  background-position: center -145px;
}

.menu__link_sett-icon:before {
  background-position: center -169px;
}

.filter-icon-b:before {
  content: '';
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url(../img/filter-normal-icon.png) center left no-repeat;
  vertical-align: middle;
  margin-top: -3px;
}

.arrow-icon {
  width: 6px;
  height: 15px;
  display: none;
  float: right;
  margin-right: 3px;
  background: url(../img/arrow.png) center center no-repeat;
  &_small {
    width: 10px;
    float: right;
    margin-top: 6px;
    height: 5px;
    display: inline-block;
    margin-left: 10px;
    background: url(../img/arrow-small.png) center center no-repeat;
    background-size: cover;
  }
}

.filter-clear-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../img/filter-clean-icon.png) center center no-repeat;
  vertical-align: middle;
}

.filter-peoples-icon-b {
  &:before {
    content: '';
    width: 22px;
    height: 24px;
    display: inline-block;
    background: url("../img/filter-icons-sprite.png") -24px 0 no-repeat;
    vertical-align: middle;
  }
}


.filter-events-icon-b {
  &:before {
    content: '';
    width: 22px;
    height: 24px;
    display: inline-block;
    background: url("../img/filter-icons-sprite.png") -24px -24px no-repeat;
    vertical-align: middle;
  }
}


.filter-meetings-icon-b {
  &:before {
    content: '';
    width: 22px;
    height: 24px;
    display: inline-block;
    background: url("../img/filter-icons-sprite.png") -24px -48px no-repeat;
    vertical-align: middle;

  }
}

.user-location {
  width: 56px;
  height: 56px;
  display: block;
  background: url("../img/user-location-icon.png") center center no-repeat;
  background-size: cover;
  box-shadow: 0 10px 15px rgba(0,0,0,.24);
  border-radius: 50%;
  cursor: pointer;
}

.zoomIn {
  width: 11px;
  height: 11px;
  display: block;
  background: url("../img/zoom-in-icon.png") center center no-repeat;
}


.zoomOut {
  width: 11px;
  height: 11px;
  display: block;
  background: url("../img/zoom-out-icon.png") center center no-repeat;
}

.place-icon-b:before {
  content: '';
  width: 13px;
  height: 18px;
  display: inline-block;
  background: url("../img/pin-user-card.png");
  vertical-align: text-bottom;
  margin-right: 10px;
}

.close-but-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  background: url("../img/exit-user-card.png");
}

.date-icon-b:before {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../img/clock-icon.png");
  vertical-align: text-bottom;
  margin-right: 10px;
}

.people-icon-b:before {
  content: '';
  width: 15px;
  height: 9px;
  display: inline-block;
  background: url("../img/user-icon.png") center center no-repeat;
  margin-right: 6px;
}

.search-icon-b:before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("../img/search-icon.png") center center no-repeat;
}

.settings-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/settings-icon.png") center center no-repeat;
}

.menu-icon {
  display: inline-block;
  width: 4px;
  height: 16px;
  background: url("../img/menu-icon.png") center center no-repeat;
}

.profile-address-icon-b {
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 14px;
    vertical-align: bottom;
    background: url("../img/profile-pin-icon.png") center center no-repeat;
    margin-right: 5px;
  }
}
.profile-settings-type-2-icon {
  width: 19px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/settings-type-2-icon.png") center center no-repeat;
}


.profile-calendar-icon-b {
  &:before {
    content: '';
    width: 14px;
    height: 15px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    background: url("../img/calendar-profile-icon.png");
  }
}

.profile-about-icon-b {
  &:before {
    content: '';
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    background: url("../img/info-icon.png");
    display: inline-block;
    margin-right: 10px;
  }
}

.profile-card-pin-icon-b {
  &:before {
    content: '';
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background: url("../img/profile-card-sprite.png") -16px 0 no-repeat;
    vertical-align: middle;
  }
}

.profile-card-clock-icon-b {
  &:before {
    content: '';
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background: url("../img/profile-card-sprite.png") 0 -1px no-repeat;
    vertical-align: middle;
  }
}

.profile-card-people-icon-b {
  &:before {
    content: '';
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background: url("../img/profile-card-sprite.png") -33px -1px no-repeat;
    vertical-align: middle;
  }
}

.profile-birthday-icon-b {
  &:before {
    content: '';
    width: 17px;
    height: 21px;
    display: inline-block;
    vertical-align: bottom;
    background: url("../img/profile-info-icons-sprite.png") 0 -2px no-repeat;
    margin-right: 12px;
  }
}

.profile-phone-icon-b {
  &:before {
    content: '';
    width: 17px;
    height: 21px;
    display: inline-block;
    vertical-align: bottom;
    background: url("../img/profile-info-icons-sprite.png") 0 -25px no-repeat;
    margin-right: 12px;
  }
}

.app-store-icon-b {
  &:before {
    content: '';
    background: url("../img/stores-sprite.png") right center no-repeat;
    display: inline-block;
    height: 30px;
    width: 26px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.play-market-icon-b {
  &:before {
    content: '';
    background: url("../img/stores-sprite.png") left center no-repeat;
    display: inline-block;
    height: 30px;
    width: 26px;
    vertical-align: middle;
    margin-right: 5px;
  }
}