<div class="sign-in cf" ng-scrollbar rebuild-on-resize>
    <header class="sign-in__header">
        <div class="logo logo_white">
            <div class="logo__text_white logo-icon-white-b">Conneccity</div>
        </div>
    </header>
    <div class="sign-in__block ta-l">
        <div class="sign-in__about">
            <h1 class="sign-in__text_h">Indicate that
                you are interested</h1>
            <p class="sign-in__text_p">Enter interests in which you are interested (ponches) and find people, events,
                places of interest on those around you.
                Invite people to meetings, create and join to events.</p>
            <div class="stores">
                <div class="stores__store play-market-icon-b">
                    <div class="stores__text">
                        <p>Download from</p>
                        <div class="stores__name">App store</div>
                    </div>
                </div>
                <div class="stores__store app-store-icon-b">
                    <div class="stores__text">
                        <p>Download from</p>
                        <div class="stores__name">Play store</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-in__block ta-c">
    <form class="form" ng-submit="login(user)">
        <div class="form__list">
            <div class="form__item"><span class="form__text">Login to Conneccity</span></div>
            <div class="form__item"><div class="socials"></div></div>
            <div class="form__item">
                <div class="separator">
                    <div class="separator__line-wrapper">
                    <span class="separator__line"></span>
                    </div>
                    <p class="separator__text">or</p>
                    <div class="separator__line-wrapper">
                        <span class="separator__line"></span>
                    </div>
                </div>
            </div>
            <div class="form__item">
                <input type="text" placeholder="E-mail" class="form__input" ng-model="user.username">
            </div>
            <div class="form__item">
                <input type="password" placeholder="Password" class="form__input" ng-model="user.password">
            </div>
            <div class="form__item ta-r">
                <a class="form__text_small">Forgot password?</a>
            </div>
            <div class="form__item">
                <div class="form__buttons">
                    <div class="form__button">
                        <div class="form__button_sign-in">Sign up</div>
                    </div>
                    <div class="form__button">
                        <input type="submit" class="form__button_submit" value="Login">
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>