.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.fl-l {
  float: left;
}
body {
  overflow: hidden;
}
.app {
  height: 100vh;
  width: 100vw;
  display: table;
  font-family: "Roboto", sans-serif;
}
#map {
  height: 100vh;
}
