

<div   class="menu" ng-scrollbar>
    <header class="menu__header">
        <div class="user" >
            <img src="img/user-icon.jpg" alt="" class="user__img">
            <div class="user__name">
            <p >Name</p>
            <p>Surname</p>
            </div>
            <a href="" class="logout-icon"></a>
        </div>
        <ul class="ponches">
            <li class="ponches__item ponches__item_mul"><a href="" class="ponches__link favorite ponch__link_icon-b">fun</a></li>
            <li class="ponches__item ponches__item_mul"><a href="" class="ponches__link favorite ponch__link_icon-b">walking</a></li>
            <li class="ponches__item ponches__item_mul"><a href="" class="ponches__link favorite ponch__link_icon-b">traveling</a></li>
            <li class="ponches__item ponches__item_mul"><a href="" class="ponches__link favorite ponch__link_icon-b">dota2</a></li>
            <li class="ponches__item ponches__item_mul"><a href="" class="ponches__link favorite ponch__link_icon-b">girls</a></li>
            <li class="ponches__item ponches__item_mul"><a href="" class="ponches__link favorite ponch__link_icon-b">friends</a></li>
            <li class="ponches__item ponches__item_mul"><a href="" class="ponches__link ponches__link_change ponch__link_change-b">poncheg</a></li>
        </ul>
    </header>
    <nav class="menu__navigation">
        <ul class="menu__list">
            <li class="menu__item"><a href="" class="menu__link menu__link_map-icon" ui-sref="app">Map</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_news-icon">News feed</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_mess-icon">Messages <span class="menu__message">2</span></a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_people-icon" ui-sref="app.users">Peoples</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_meet-icon" ui-sref="app.meetings">Meeting</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_event-icon" ui-sref="app.events">Events</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_dark menu__link_cab-icon">Cabinet</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_dark menu__link_sett-icon">Settings</a></li>
        </ul>
    </nav>
    <footer class="menu__footer">
        <div class="logo">
            <div class="logo__text logo_icon-b">Conneccity</div>
        </div>
        <div class="copyright">
            <p>&copy; 2016 Copyright Conneccity, Inc.</p>
            <p>All rights reserved.</p>
        </div>
    </footer>
</div>
<ui-view [ name="content" ] class="main"></ui-view>