<div class="chat-list fl-l" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:me">
  <div class="chat-list__header">Chats</div>
  <ul class="chat-list__list">
    <li class="chat-list__item" ng-repeat="chat in chatListVm.chats">
      <a ui-sref="app.chat.id({ id: chat.id })" class="chat-list__link">
        <div class="avatar">
          <img ng-src="{{ chat.user.photos.photo200px || chat.event.photos.photo200px || 'img/test/meeting_icon.png' }}"
               alt="" class="avatar__img avatar__img_border">
        </div>
        <div class="chat-list__info">
          <p class="chat-list__name">{{ chat.event.name || (chat.user.name + " " + chat.user.surname) }}
          <div
          ng-if="chat.meeting">
            <div class="chat-list__name chat-list__user" ng-repeat="user in chat.meeting.members | limitTo : 3">{{
              user.name }}
            </div>
          </div>
          </p>
          <p class="chat-list__online" ng-show="chat.user.online">Online</p>
          <p class="chat-list__last-seen" ng-show="!chat.user.online">
            {{ chatListVm.getLastSeenTime(chat.user.lastSeen) }}</p>
          <p class="chat-list__status" ng-show="chatListVm.getState(chat.id)"></p>
        </div>
      </a>
    </li>
  </ul>
</div>
<ui-view [ name="chat" ] class="chat"><img src="img/empty-list.png" alt="" class="empty-list-bg"></ui-view>
