
    <header class="menu__header">
        <div class="user">
            <img src="" alt="" class="user__img">
            <span class="user__name">Name Surname</span>
            <div class="logout-icon"></div>
        </div>
        <ul class="ponches">
            <li class="ponches__item"><a href="" class="ponches__link ponch__link_icon-b">poncheg</a></li>
            <li class="ponches__item"><a href="" class="ponches__link ponch__link_icon-b">poncheg</a></li>
            <li class="ponches__item"><a href="" class="ponches__link ponch__link_icon-b">poncheg</a></li>
            <li class="ponches__item"><a href="" class="ponches__link ponch__link_icon-b">poncheg</a></li>
            <li class="ponches__item"><a href="" class="ponches__link ponch__link_icon-b">poncheg</a></li>
            <li class="ponches__item"><a href="" class="ponches__link ponch__link_icon-b">poncheg</a></li>
            <li class="ponches__item"><a href="" class="ponches__link ponch__link_change-b">poncheg</a></li>
        </ul>

    </header>
    <nav class="menu__navigation">
        <ul class="menu__list">
            <li class="menu__item"><a href="" class="menu__link">Map</a></li>
            <li class="menu__item"><a href="" class="menu__link">News feed</a></li>
            <li class="menu__item"><a href="" class="menu__link">Messages</a></li>
            <li class="menu__item"><a href="" class="menu__link">People</a></li>
            <li class="menu__item"><a href="" class="menu__link">Meeting</a></li>
            <li class="menu__item"><a href="" class="menu__link">Events</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_dark">Cabinet</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_dark">Settings</a></li>
        </ul>
    </nav>
    <footer class="menu__footer">
        <div class="logo">
            <div class="logo__text logo_icon"></div>
        </div>
        <div class="copyright">
            <p>&copy; 2016 Copyright Conneccity, Inc.  All rights reserved.</p>
            <p>All rights reserved.</p>
        </div>
    </footer>