<div class="users">
    <header class="users__controls">
        <span class="users__text">People nearby</span>
        <p class="users__divider"><span class="line"></span></p>
        <div class="fast-filter">
            <input id="recommended" type="radio" name="filter" class="fast-filter__radio" checked>
            <label for="recommended" class="fast-filter__label">Recommended</label>

            <input id="related" type="radio" name="filter" class="fast-filter__radio">
            <label for="related" class="fast-filter__label">Most related</label>

        </div>
        <div class="users__icon search-icon"></div>
        <div class="users__icon filter-icon-b"></div>
    </header>
    <ul class="users-list">
        <li class="users-list__item">
            <img src="img/test/user-list-img.jpg" alt="" class="users-list__img">
            <div class="users-list__info">
                <p class="users-list__distance">300m</p>
                <a href="" class="users-list__name">Name Surname</a>
                <div class="ponches-wrapper">
                    <ul class="ponches">
                        <li class="ponches__item">
                            <a href="" class="ponches__link ponch__link_icon-b">
                                ponch
                            </a>
                        </li>
                    </ul>
                    <div class="ponches__counter" >
                        <a href="" class="ponches__link ponches__link_round">
                            +1
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="users-list__item">
            <img src="img/test/user-list-img.jpg" alt="" class="users-list__img">
            <div class="users-list__info">
                <p class="users-list__distance">300m</p>
                <a href="" class="users-list__name">Name Surname</a>
                <div class="ponches-wrapper">
                    <ul class="ponches">
                        <li class="ponches__item">
                            <a href="" class="ponches__link ponch__link_icon-b">
                                ponch
                            </a>
                        </li>
                    </ul>
                    <div class="ponches__counter" >
                        <a href="" class="ponches__link ponches__link_round">
                            +1
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="users-list__item">
            <img src="img/test/user-list-img.jpg" alt="" class="users-list__img">
            <div class="users-list__info">
                <p class="users-list__distance">300m</p>
                <a href="" class="users-list__name">Name Surname</a>
                <div class="ponches-wrapper">
                    <ul class="ponches">
                        <li class="ponches__item">
                            <a href="" class="ponches__link ponch__link_icon-b">
                                ponch
                            </a>
                        </li>
                    </ul>
                    <div class="ponches__counter" >
                        <a href="" class="ponches__link ponches__link_round">
                            +1
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="users-list__item">
            <img src="img/test/user-list-img.jpg" alt="" class="users-list__img">
            <div class="users-list__info">
                <p class="users-list__distance">300m</p>
                <a href="" class="users-list__name">Name Surname</a>
                <div class="ponches-wrapper">
                    <ul class="ponches">
                        <li class="ponches__item">
                            <a href="" class="ponches__link ponch__link_icon-b">
                                ponch
                            </a>
                        </li>
                    </ul>
                    <div class="ponches__counter" >
                        <a href="" class="ponches__link ponches__link_round">
                            +1
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="users-list__item">
            <img src="img/test/user-list-img.jpg" alt="" class="users-list__img">
            <div class="users-list__info">
                <p class="users-list__distance">300m</p>
                <a href="" class="users-list__name">Name Surname</a>
                <div class="ponches-wrapper">
                    <ul class="ponches">
                        <li class="ponches__item">
                            <a href="" class="ponches__link ponch__link_icon-b">
                                ponch
                            </a>
                        </li>
                    </ul>
                    <div class="ponches__counter" >
                        <a href="" class="ponches__link ponches__link_round">
                            +1
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="users-list__item">
            <img src="img/test/user-list-img.jpg" alt="" class="users-list__img">
            <div class="users-list__info">
                <p class="users-list__distance">300m</p>
                <a href="" class="users-list__name">Name Surname</a>
                <div class="ponches-wrapper">
                    <ul class="ponches">
                        <li class="ponches__item">
                            <a href="" class="ponches__link ponch__link_icon-b">
                                ponch
                            </a>
                        </li>
                    </ul>
                    <div class="ponches__counter" >
                        <a href="" class="ponches__link ponches__link_round">
                            +1
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="users-list__item">
            <img src="img/test/user-list-img.jpg" alt="" class="users-list__img">
            <div class="users-list__info">
                <p class="users-list__distance">300m</p>
                <a href="" class="users-list__name">Name Surname</a>
                <div class="ponches-wrapper">
                    <ul class="ponches">
                        <li class="ponches__item">
                            <a href="" class="ponches__link ponch__link_icon-b">
                                ponch
                            </a>
                        </li>
                    </ul>
                    <div class="ponches__counter" >
                        <a href="" class="ponches__link ponches__link_round">
                            +1
                        </a>
                    </div>
                </div>
            </div>
        </li>


    </ul>
</div>